*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition: width none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');




:root{
        --green:#27ae60;
        --dark-color:#219150;
        --black:#444;
        --light-color:#666;
        --border:.1rem solid rgba(0,0,0,.1);
        --border-hover:.1rem solid var(--black);
        --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    }
    

html{
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-padding-top: 5rem;
        scroll-behavior: smooth;
    }
    
html::-webkit-scrollbar{
        width:1rem;
    }
    
html::-webkit-scrollbar-track{
        background:transparent;
    }
    
html::-webkit-scrollbar-thumb{
        background:var(--black);
    }
section{
        padding:5rem 9%;
    }    
.heading{
        text-align: center;
        margin-bottom: 2rem;
        position: relative;
    }
    
.heading::before{
        content: '';
        position: absolute;
        top:50%; left:0;
        transform: translateY(-50%);
        width: 100%;
        height:.01rem;
        background: rgba(0,0,0,.1);
        z-index: -1;
    }
    
.heading span{
        font-size: 3rem;
        padding:.5rem 2rem;
        color:var(--black);
        background: #fff;
        border:var(--border);
    }
.featured .featured-slider .box{
        margin:2rem 0;
        position: relative;
        overflow: hidden;
        border:var(--border);
        text-align: center;
    }
    
.featured .featured-slider .box:hover{
        border:var(--border-hover);
    }
    
.featured .featured-slider .box .image{
        padding:1rem;
        background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
    }
    
.featured .featured-slider .box:hover .image{
        transform: translateY(6rem);
    }
    
.featured .featured-slider .box .image img{
        height: 25rem;
    }
    
.featured .featured-slider .box .icons{
        border-bottom: var(--border-hover);
        position: absolute;
        top:0; left:0; right: 0;
        background: #fff;
        z-index: 1;
        transform: translateY(-105%);
    }
    
.featured .featured-slider .box:hover .icons{
        transform: translateY(0%);
    }
    
.featured .featured-slider .box .icons a{
        color:var(--black);
        font-size: 2.2rem;
        padding:1.3rem 1.5rem;
    }
    
.featured .featured-slider .box .icons a:hover{
        background:var(--green);
        color:#fff;
    }
    
    
.featured .featured-slider .box .content{
        background:#eee;
        padding:1.5rem;
    }
    
.featured .featured-slider .box .content h3{
        font-size: 2rem;
        color:var(--black);
    }
    
.featured .featured-slider .box .content .price{
        font-size: 2.2rem;
        color:var(--black);
        padding-top: 1rem;
    }
    
.featured .featured-slider .box .content .price span{
        font-size: 1.5rem;
        color:var(--light-color);
        text-decoration: line-through;
    }
    
.swiper-button-next,
.swiper-button-prev{
        border:var(--border-hover);
        height:4rem;
        width:4rem;
        color:var(--black);
        background: #fff;
    }
    
.swiper-button-next::after,
.swiper-button-prev::after{
        font-size: 2rem;
    }
    
.swiper-button-next:hover,
.swiper-button-prev:hover{
        background: var(--black);
        color:#fff;
    }
.deal{
    background: #f3f3f3;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    gap:1.5rem;
}
.deal .content{
    flex:1 1 42rem;
}

.deal .image{
    flex:1 1 42rem;
}

.deal .image img{
    width: 100%;
}

.deal .content h3{
    color:var(--green);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.deal .content h1{
    color:var(--black);
    font-size: 4rem;
}
.reviews .reviews-slider .box{
    border:var(--border);
    padding:2rem;
    text-align: center;
    margin:2rem 0;
}

.reviews .reviews-slider .box:hover{
    border:var(--border-hover);
}

.reviews .reviews-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3{
    color:var(--black);
    font-size: 2.2rem;
    padding:.5rem 0;
}

.reviews .reviews-slider .box p{
    color:var(--light-color);
    font-size: 1.4rem;
    padding:1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars{
    padding-top: .5rem;
}

.reviews .reviews-slider .box .stars i{
    font-size: 1.7rem;
    color:var(--green);
}
.arrivals .arrivals-slider .box{
    display: flex;
    align-items:center;
    gap:1.5rem;
    padding:2rem 1rem;
    border:var(--border);
    margin:1rem 0;
}

.arrivals .arrivals-slider .box:hover{
    border:var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
    height:15rem;
}

.arrivals .arrivals-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}

.arrivals .arrivals-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.arrivals .arrivals-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i{
    font-size: 1.5rem;
    color:var(--green);
}
.table{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 500px;
    overflow: auto;
    margin-top: 30px;
    border-collapse: collapse;
    border: 1px solid #dddddd;
   
}
.table thead th{
    position: sticky;
    top: 0;
    background-color: black;
    color: red;
    font-weight: 800;
    font-size: 15px;

    }
th,td{
        border-bottom: 1px solid #dddddd;
        padding: 10px 20px ;
        font-size: 14px;
}
tr:nth-child(even){
    background-color: #faf9f9d6;
}
tr:nth-child(odd){
    background-color: #beb0b6;
}
tr:hover {
    color: #27ae60;
    cursor: pointer;
    background-color: #747371;
}

::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
}


#footer{
        width: 100%;
        height: auto;
        background-color: #c5bebf; 
        float: left;
       
    }
.footer_sub_1{
        width: 25%;
        float: left;
        color: #fff;
        margin-right: 40px;
     
    }
.footer_sub_1 p{
        color: black;
        padding-right: 25px;
    }
.footer_sub_1 a{
        color: white;
    }
.footer_sub_1 a:hover{
        color: #1aaa1a;
    }
.footer_sub_2{
       width: 20%;
       float: left;
       color: #fff;
       padding-left: 200px;
    }
.footer_sub_2 ul li{
        list-style: none;
        margin-bottom: 20px;
    }
.footer_sub_2 a{
        text-decoration: none;
        color: black;
        ;
    }
.footer_sub_2 a:hover{
        color: #1aaa1a;
        text-decoration: underline;
        
    }
.footer_sub_3{
        width: 25%;
        float: left;
        color: white;
        padding-left: 120px;
    }
.subs{
        width: 250px;
        border: none;
        height: 50px;
        float: left;
        padding-left: 15px;
    
    }
.submit_btn{
        height: 50px;
        width: 90px;
        border: none;
        background: black;
        float: left;
        color: white;
        
        
    }
     
.sub_p{
        color: grey;
        font-style: italic;
        float: left;
    }
    
#footer hr{
        background-color: #b5b5b5;
        margin: 230px 70px 20px 70px;
        height: 1px;
        border-radius: 2cm;
    }
        
       
.copyright{
        text-align: center;
        margin-bottom: 30px;
       
    }
.navbar{
        display: flex;
        align-items: right;
        margin-bottom: -12px;
    }
    
.navbar .logo img{
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: -40px;
    margin-top: -26px;
    width: 60%;
    }
    
.search-container {
        margin-bottom: 10px;
       margin-top: 4px;
      margin-left: -35px;
    }
      
    input[type=text] {
        padding: 6px;
        margin-top: 8px;
        border: 1px solid #a7a7a7;
        border-radius: 5px 0px 0px 5px;
        width:260px;
        height: 40px ;
    }
      
    .search-container button {
        float: right;
        width: 40px;
        margin-top: 8px;
        margin-right: 16px;
        background: #a7a7a7;
        font-size: 17px;
        height: 40px;
        border: none;
        cursor: pointer;
        border-radius: 0px 5px 5px 0px;
    }
    
    
    .search-container button:hover {
     background: #ccc;
    }
    
    
    .navbar a:hover{
    color: #1aaa1a;
    }
    
    nav{
        flex: 1;
        text-align: right;
    }
    
    nav ul{
        display: inline-block;
        list-style-type: none;
        margin-top: 23px;
        margin-right: -50px;
    }
    
    nav ul li {
       display: inline-block;
       margin-right: 20px;
    }
    
    a{
    text-decoration: none;
    color: black;
    font-size: 16px;       
    }
      
    .categories a:hover{
    color: #1aaa1a;
    }
    
       
    .container{
        max-width: 1300px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .header{
       background: #e5e5e5;
    }
    
    .categories{
        height: 50px;
        background:black;
        display: flex;
        align-items: center;
        font-family: 'Lato', sans-serif;
        position: relative ;
        width: 100%;
    }
    
    .categories ul{
        height: 50px;
        display: flex;
        align-items: center;
        grid-gap: 5px;
        font-family: 'Lato', sans-serif;
        position: relative ;
        width: 100%; 
        padding-left: 6%;
    }
    
    .categories ul li {
    display: inline-block;
    align-items: center;
    margin-left: 20px;
    padding-bottom: 18px;
    margin-top: 13px;
    margin-right: 20px;
    }
    
    .categories ul li a{
     color: #f9f9f9;
     align-items: center;
    
    }
    
    
    
    
    
    .vid{
        padding-left: 330px;
        padding-right: 25px;
    
    }
    .vid p{
        padding-left: 50px;
        font-size: x-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
.btn{
    display: inline-block;
    background: #0b6d39;
    color: #fff;
    padding: 8px 30px;
    margin: 30px e;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #1aaa1a;
}
