
* {
    margin: 0;
	padding: 0;
    text-decoration: none;
	box-sizing: border-box;
}

html {
    overflow-x: hidden;
}


li {
	list-style: none;
	width: 100%;
}

:root {
	
	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--red: red;
	--yellow: #FFCE26;
	--orange: #FD7238;
	--green:#56d35b ;
	--black: #000000 ;
}

.dark-mode{

--light: black ;
--black: white;
}

body {
	background-color:var(--grey);
	overflow-x: hidden;
	width: 100%;
	
}



/* the header starts */

.navbar{
    display: flex;
    align-items: right;
    margin-bottom: -12px;
}

.navbar .logo img{
padding: 0;
margin: 0;
display: flex;
margin-left: -40px;
margin-top: -26px;
width: 60%;
}

.search-container {
    margin-bottom: 10px;
   margin-top: 4px;
  margin-left: -35px;
}
  
input[type=text] {
    padding: 6px;
    margin-top: 8px;
    border: 1px solid #a7a7a7;
    border-radius: 5px 0px 0px 5px;
    width:260px;
    height: 40px ;
}
  
.search-container button {
    float: right;
    width: 40px;
    margin-top: 8px;
    margin-right: 16px;
    background: #a7a7a7;
    font-size: 17px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}


.search-container button:hover {
 background: #ccc;
}


.navbar a:hover{
color: #1aaa1a;
}

nav{
    flex: 1;
    text-align: right;
	
}

nav ul{
    display: inline-flex;
    list-style-type: none;
    margin-top: 35px;
    margin-right: -50px;
	display: flex;
	align-items: center;
	font-family: 'Lato', sans-serif;
	position: relative ;
	float: right;

}

nav ul li {
   display: inline-block;
  margin:-10px;
   width: 130px;
   text-align: center;
  
  
}

nav ul li a {
margin-right: 9px;
gap: 1px;
}

a{
text-decoration: none;
color: black;
font-size: 16px;       
}
  
.categories a:hover{
color: #1aaa1a;
}

   
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.header{
   background: #e5e5e5;
}

.categories{
    height: 50px;
	background:black;
	display: flex;
	align-items: center;
	font-family: 'Lato', sans-serif;
	position: relative ;
	width: 100%;
}

.categories ul{
    height: 50px;
	display: flex;
	align-items: center;
	grid-gap: 5px;
	font-family: 'Lato', sans-serif;
	position: relative ;
	width: 100%; 

}

.categories ul li {
display: inline-block;
align-items: center;
margin-left: 20px;
padding-bottom: 18px;
margin-top: 13px;
margin-right: 20px;
}

.categories ul li a{
 color: #f9f9f9;
 align-items: center;

}


/* the header ends */





/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family:'Poppins', sans-serif;
	overflow-y: none;
	
}

#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: black;
	
}
#content main .head-title .left h1:hover {
	color: var(--blue);
}
#theme {
margin-left: 91%;
margin-bottom: -28px;
box-sizing: 5px;
margin-top: 11px;
cursor: pointer;


}

#theme span {
	font-family:sans-serif;
	size: 60px;
	
}

#themebtn{
	size: 200px;

}
#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 50px;
	margin-top: 36px;
	color: var(--blue);
	
}
#content main .box-info li {
	padding: 15px;
	background:var(--light);
	display: flex;
	align-items: center;
	grid-gap: 40px;
    cursor: pointer;
	box-shadow: 0 3px 15px var(--dark-grey);
	border-radius: 20px;

}


#content main .box-info li i {
	font-size: 23px;
}
#content main .box-info li span{
	font-size: 17px;
}

#content main .box-info li:hover {
	background-color: var(--blue);
	color: var(--light);
}

#content main .table-data .orders_table{
	border-collapse: collapse;
}

#content main .table-data {
	
	margin-top: 25px;
	width: 90%;
	color: var(--black);
	align-items: center;
	margin-left: 80px;
	
}
#content main .table-data > div {
	background: var(--light);
	padding: 24px;
	box-shadow: 0 3px 15px var(--dark-grey);
	border-radius: 20px;
	
}
#content main .table-data .head {
	align-items: center;
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head:hover{
	color: var(--blue);
}
#content main .table-data .order table {
	width: 100%;

}
#content main .table-data .order table th {
	padding-bottom: 15px;
	font-size: 15px;
	text-align: left;
	align-items: center;
	
}
#content main .table-data .order table td {
	padding: 16px;
	
}
#content main .table-data .order table  td:first-child {
	display: flex;
	align-items: center;
	grid:gap 12px; 
	padding-left: 2px;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
	margin-right:5px;
}
#content main .table-data .order table tbody tr{
box-sizing: content-box;
 border-radius: 20px;
}
#content main .table-data .order table tbody tr:hover {
	background: #62a7eb;
	
}

#content main .table-data .order table tr td .status {
	font-size: 11px;
	padding: 8px;
	color: var(--light);
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: var(--green);
}
#content main .table-data .order table tr td .status.canceled {
	background: var(--red);
}
#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}

.reviews{
	position: relative;
	display: grid;
	min-height: 500px;
	padding:20px;
	background-color: var(--light);
    padding-top: 20px;
	margin-top: 20px;
	box-shadow: 0 3px 15px var(--dark-grey);
	border-radius: 20px;
}
.reviews .head-title{
	color: var(--black);
	margin-bottom: 20px;
}

.reviews .imgBox {

	position: relative;
	width:40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}

.reviews .imgBox img {
 position: absolute;
 top:0;
 left:0;
 width:100%;
 height: 100%;
 object-fit: cover;
 
}

.reviews table tr:hover {
	background: #62a7eb;
   	
	
}
 
.reviews .reviews_table {
	border-collapse: collapse;
}

.reviews table tr td {
padding: 12px 10px;
color: var(--black);
}

.reviews table tr td h4 {
font-size: 16px;
font-weight: 530;
color: var(--black);
}

.reviews table tr td h4 span {
	font-size:14px ;
	color: #4c4c4c;
}
.reviews table tr td i {
	color: #FFCE26;
}

.mostselled {

	position: relative;
	display: grid;
	min-height: 600px;
	padding:2px;
	background-color: var(--light);
    padding-top: 20px;
	margin-top: -597px;
	box-shadow: 0 3px 15px var(--dark-grey);
	border-radius: 20px;
	margin-left: 55%;
}

#piechart {
	margin-top: 30px;
	margin-left: 110px;
}

#bargraph {
	margin-left: 110px;
}
.about .row{
    display: flex;
    align-items: center;
    gap: 15px;
   
}



.about .row .content{
    flex:1 1 350px;
	margin-top: -65px;
}

.about .row .content h3{
    font-size: 40px;
    color: black;
	font-family: arial;
	text-align: center;
	margin-top: -600x;
	margin-bottom: 30px;
}

.about .row .content h3:hover{
    color: var(--blue);
}

.about .row .content p{
    font-size: 20px;
    color:#7a7a7a;
    padding-top: 10;
    line-height: 1.5;
	font-family: arial;
	margin: 12px;
	margin-top: 5px;
}
.video-container{
	margin-left: 30px;
	margin-bottom: 65px;
}

.btn{
    display:inline-block;
    margin-top:2px;
    padding:5px 15px;
    color:var(--light);
    font: size 10px;
    box-shadow: 0 2px 5px var(--blue);
    cursor: pointer;
	font-family: arial;
	align-items: right;
	margin-left: 720px;
	border-radius: 2px;
	
}
.btn:hover{
    letter-spacing: .1rem;
    background:var(--blue);
    color: var(--light);
}

#footer{
    width: 100%;
    height: auto;
    background-color: #c5bebf; 
    float: left;
   
}
.footer_sub_1{
    width: 25%;
    float: left;
    color: #fff;
    margin-right: 40px;
 
}
.footer_sub_1 p{
    color: black;
    padding-right: 25px;
}
.footer_sub_1 a{
    color: white;
}
.footer_sub_1 a:hover{
    color: #1aaa1a;
}
.footer_sub_2{
   width: 20%;
   float: left;
   color: #fff;
   padding-left: 200px;
}
.footer_sub_2 ul li{
    list-style: none;
    margin-bottom: 20px;
}
.footer_sub_2 a{
    text-decoration: none;
    color: black;
    ;
}
.footer_sub_2 a:hover{
    color: #1aaa1a;
    text-decoration: underline;
    
}
.footer_sub_3{
    width: 25%;
    float: left;
    color: white;
    padding-left: 120px;
}
.subs{
    width: 250px;
    border: none;
    height: 50px;
    float: left;
    padding-left: 15px;

}
.submit_btn{
    height: 50px;
    width: 90px;
    border: none;
    background: black;
    float: left;
    color: white;
    
    
}
 
.sub_p{
    color: grey;
    font-style: italic;
    float: left;
}

#footer hr{
    background-color: #b5b5b5;
    margin: 230px 70px 20px 70px;
    height: 1px;
    border-radius: 2cm;
}
    
   
.copyright{
    text-align: center;
    margin-bottom: 30px;
   
}




/* MAIN */
/* CONTENT */


