:root{
    --pink:#e84393;
}


section{
    padding:32px;
}




/* the header starts */

.navbar{
    display: flex;
    align-items: right;
    margin-bottom: -12px;
}

.navbar .logo img{
padding: 0;
margin: 0;
display: flex;
margin-left: -40px;
margin-top: -26px;
width: 60%;
}

.search-container {
    margin-bottom: 10px;
   margin-top: 4px;
  margin-left: -35px;
}
  
input[type=text] {
    padding: 6px;
    margin-top: 8px;
    border: 1px solid #a7a7a7;
    border-radius: 5px 0px 0px 5px;
    width:260px;
    height: 26px ;
}
  
.search-container button {
    float: right;
    width: 40px;
    margin-top: 8px;
    margin-right: 16px;
    background: #a7a7a7;
    font-size: 17px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}


.search-container button:hover {
 background: #ccc;
}


.navbar a:hover{
color: #1aaa1a;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    margin-top: 23px;
    margin-right: -50px;
}

nav ul li {
   display: inline-block;
   margin-right: 20px;
}

a{
text-decoration: none;
color: black;
font-size: 16px;       
}
  
.categories a:hover{
color: #1aaa1a;
}

   
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.header{
   background: #e5e5e5;
}

.categories{
    height: 50px;
	background:black;
	display: flex;
	align-items: center;
	font-family: 'Lato', sans-serif;
	position: relative ;
	width: 100%;
}

.categories ul{
    height: 50px;
	display: flex;
	align-items: center;
	grid-gap: 5px;
	font-family: 'Lato', sans-serif;
	position: relative ;
	width: 100%; 
    padding-left: 2.5%;

}

.categories ul li {
display: inline-block;
align-items: center;
margin-left: 20px;
padding-bottom: 18px;
margin-top: 13px;
margin-right: 20px;
}

.categories ul li a{
 color: #f9f9f9;
 align-items: center;

}


/* the header ends */


.home{
    display: flex;
    align-items: center;
    height: 600px;
    background:url(../images/home.jpg) ;
    background-size:cover;
    background-position: center;
    
    
}

.home .content h1{
    font-size: 75px;
    color:#F18EBE;
    
}

.home .content span{
    font-size: 30px;
    color:white;
    line-height: 1.5;
}




.icons-container h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    color: black;
    margin-top: 30px;
}
.icons-container h1:hover{
    color: var(--pink);
}
.icons-container{
    background:white;
    display: flex;
    gap: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
   
}

.icons-container .icons{
    background:#f8f8f8;
    border:1px solid var(--pink);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex: 0%;
    cursor: pointer;
    box-shadow: 0 5px 5px #d8d8d8;
    border-radius: 10px;
    border: 0.5px solid var(--pink);
    
}
.icons-container .icons :hover{
color:var(--pink)
}
.icons-container .icons img{
    height:60px;
    margin-right: 25px;
}
.icons-container .icons h3{
    color:black;
    font-size: 25px;
}








.products h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
    color: black;
    margin-top: -10px;
    outline-color: var(--pink);
    outline-style:outset ;
    /* #f8e0e0 */
}
.products h1:hover{
    color: var(--pink);

}
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.products .box-container .box{
    flex:1 1 250px;
    position: relative;    
    box-shadow: 0 0.5px 5px #d8d8d8;
    border-radius: 10px;
    border: 0.5px solid #d8d8d8;
}

.products .box-container .box .discount{
    position: absolute;
    margin-left: 15px;
    font-size: 25px;
    color:var(--pink);
    background:#fdf5f9;
    z-index: 1;
    margin-top: 12px;
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 25px;
    overflow:hidden;
}

.products .box-container .box .image img{
    height:250px;
}


.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    left:0; 
    right:0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
   bottom: 0;
}

.products .box-container .box .image .icons a{
    height: 40px;
    font-size: 25px;
    width: 50%;
    background:var(--pink);
    color:#fff;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    width:100%;
}


.products .box-container .box .image .icons a:hover{
    background: black;
}

.products .box-container .box .content{
    padding: 13px;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 25px;
    color:black;
}

.products .box-container .box .content .price{
    font-size: 27px;
    color:var(--pink);
    font-weight: bold;
    margin-top: 10px;
}

.products .box-container .box .content .price span{
    font-size: 15px;
    color:#999;
    text-decoration: line-through;
}











.about .row{
    display: flex;
    align-items: center;
    gap: 15px;
   
}

.about .row .video-container{
    flex: 450px;
    position: relative;
}

.about .row .video-container video{
    width:100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 5px 15px #d8d8d8;
    border-radius: 10px;
    border: 20px solid #fdf9f9;
}

.about .row .content{
    flex:1 1 350px;
    padding-left: 30px;
}

.about .row .content h3{
    font-size: 40px;
    color: var(--pink);
}


.about .row .content p{
    font-size: 15px;
    color:#7a7a7a;
    padding-top: 10;
    line-height: 1.5;
}

#footer{
    width: 100%;
    height: 100%;
    background-color: #c5bebf; 
    float: left;

   
}
.footer_sub_1{
    width: 25%;
    float: left;
    color: #fff;
    margin-right: 40px;
 
}
.footer_sub_1 p{
    color: black;
    padding-right: 25px;
}
.footer_sub_1 a{
    color: white;
    padding-bottom: 30px;
}
.footer_sub_1 a:hover{
    color: #1aaa1a;
}
.footer_sub_2{
   width: 22%;
   float: left;
   color: #fff;
   padding-left: 180px;
}
.footer_sub_2 ul{

    padding-inline-start: 10px;
   
}
.footer_sub_2 ul li{
    list-style: none;
    margin-bottom: 20px;
    padding-inline-start: 10px;
   
}
.footer_sub_2 a{
    text-decoration: none;
    color: black;
 
}
.footer_sub_2 a:hover{
    color: #1aaa1a;
    text-decoration: underline;
    
}
.footer_sub_3{
    width: 25%;
    float: left;
    color: white;
    padding-left: 120px;
}
.subs{
    width: 250px;
    border: none;
    height: 50px;
    float: left;
    padding-left: 15px;

}
.submit_btn{
    height: 50px;
    width: 90px;
    border: none;
    background: black;
    float: left;
    color: white;
  
  
    
}
 
.sub_p{
    color: grey;
    font-style: italic;
    float: left;
}

#footer hr{
    background-color: #b5b5b5;
    margin: 270px 70px 20px 70px;
    height: 1px;
    border-radius: 2cm;
}
    
   
.copyright{
    text-align: center;
    margin-bottom: 30px;
   
}
