:root{
    --pink:#e84393;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

section{
    padding:32px;
}




/* the header starts */

.navbar{
    display: flex;
    align-items: right;
    margin-bottom: -12px;
}

.navbar .logo img{
padding: 0;
margin: 0;
display: flex;
margin-left: -40px;
margin-top: -26px;
width: 60%;
}

.search-container {
    margin-bottom: 10px;
   margin-top: 4px;
  margin-left: -35px;
}
  
input[type=text] {
    padding: 6px;
    margin-top: 8px;
    border: 1px solid #a7a7a7;
    border-radius: 5px 0px 0px 5px;
    width:260px;
    height: 40px ;
}
  
.search-container button {
    float: right;
    width: 40px;
    margin-top: 8px;
    margin-right: 16px;
    background: #a7a7a7;
    font-size: 17px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}


.search-container button:hover {
 background: #ccc;
}


.navbar a:hover{
color: #1aaa1a;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    margin-top: 23px;
    margin-right: -50px;
}

nav ul li {
   display: inline-block;
   margin-right: 20px;
}

a{
text-decoration: none;
color: black;
font-size: 16px;       
}
  
.categories a:hover{
color: #1aaa1a;
}

   
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.header{
   background: #e5e5e5;
}

.categories{
    height: 50px;
	background:black;
	display: flex;
	align-items: center;
	font-family: 'Lato', sans-serif;
	position: relative ;
	width: 100%;
}

.categories ul{
    height: 50px;
	display: flex;
	align-items: center;
	grid-gap: 5px;
	font-family: 'Lato', sans-serif;
	position: relative ;
	width: 100%; 

}

.categories ul li {
display: inline-block;
align-items: center;
margin-left: 20px;
padding-bottom: 18px;
margin-top: 13px;
margin-right: 20px;
}

.categories ul li a{
 color: #f9f9f9;
 align-items: center;

}


/* the header ends */


.home{
    display: flex;
    align-items: center;
    height: 600px;
    background:url(../images/home.jpg) ;
    background-size:cover;
    background-position: center;
    
    
}

.home .content h1{
    font-size: 75px;
    color:white;
   font-weight: 3px;

}

.home .content h1:hover{
    color:#F08080;
}

.home .content span{
    font-size: 30px;
    color:#F08080;
    line-height: 1.5;
  
}

.btn{
    display:inline-block;
    margin-top:1rem;
    padding:1rem 3rem;
    color:#fff;
    font-size:1.7rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    cursor: pointer;
}
.btn:hover{
    letter-spacing: .1rem;
    background: #F08080;
    color: #fff;
}




.icons-container{
    background:white;
    display: flex;
    gap: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-wrap: wrap;
   
   
}

.icons-container .icons{
    background:#f8f8f8;
    border:1px solid var(--pink);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex: 0%;
    cursor: pointer;
    box-shadow: 0 5px 5px #d8d8d8;
    border-radius: 10px;
    border: 0.5px solid var(--pink);
    
}

.icons-container :hover{
background: #f7bfbf;
}

.icons-container .icons :hover{
color:white;
}
.icons-container .icons img{
    height:60px;
    margin-right: 25px;
}
.icons-container .icons h3{
    color:black;
    font-size: 25px;
}







.products h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
    color: black;
    margin-top: -10px;
    outline-color: var(--pink);
    outline-style:outset ;
   
}
.products h1:hover{
    color: var(--pink);

}
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.products .box-container .box{
    flex:1 1 250px;
    position: relative;    
    box-shadow: 0 0.5px 5px #d8d8d8;
    border-radius: 10px;
    border: 0.5px solid #d8d8d8;
}

.products .box-container .box .discount{
    position: absolute;
    margin-left: 15px;
    font-size: 25px;
    color:var(--pink);
    background:#fdf5f9;
    z-index: 1;
    margin-top: 12px;
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 25px;
    overflow:hidden;
}

.products .box-container .box .image img{
    height:250px;
}


.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    left:0; 
    right:0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
   bottom: 0;
}

.products .box-container .box .image .icons a{
    height: 40px;
    font-size: 25px;
    width: 50%;
    background:var(--pink);
    color:#fff;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    width:100%;
}


.products .box-container .box .image .icons a:hover{
    background: black;
}

.products .box-container .box .content{
    padding: 13px;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 25px;
    color:black;
}

.products .box-container .box .content .price{
    font-size: 27px;
    color:var(--pink);
    font-weight: bold;
    margin-top: 10px;
}

.products .box-container .box .content .price span{
    font-size: 15px;
    color:#999;
    text-decoration: line-through;
}


.banner{
    background: url(../images/bannermakeup-bg.jpg) no-repeat;
    background-size:cover;
    background-position:center;
}
.banner .content{
    max-width: 40rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    padding: 2rem;
    text-align: center;
    margin: 10rem 0;
}
.banner .content span{
    font-size:2rem;
}
.banner .content h3{
    font-size:3rem;
    color: #222;
    padding-top: .5rem;
}
.banner .content p{
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2;
}







.gallery .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap:2rem;
}
.gallery .box-container .box{
    height:25rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}
.gallery .box-container .box:hover .content{
    display: flex;
}
.gallery .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.gallery .box-container .box .content{
    background: rgba(255,255,255,0.8);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    padding:2rem;
    text-align:center;
    border:0.2rem solid #222;
    display: none;
}
.gallery .box-container .box .content h3{
    font-size: 2rem;
    color: #222;
   
}
.gallery .box-container .box .content p{
    font-size: 1.4rem;
    color: #222;
    padding:1rem 0;
    line-height: 2;
    
}


.gallery h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 45px;
    color: black;
    margin-top: 15px;
    outline-color: var(--pink);
    outline-style:outset ;
}

.gallery h1:hover{
    color: var(--pink);
}

.about .row{
    display: flex;
    align-items: center;
    gap: 15px;
   
}

.about .row .video-container{
    flex: 450px;
    position: relative;
}

.about .row .video-container video{
    width:100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 5px 15px rosybrown;
    border-radius: 10px;
    border: 20px solid #fdf9f9;
}

.about .row .content{
    flex:1 1 350px;
}

.about .row .content h3{
    font-size: 40px;
    color: black;
}

.about .row .content h3:hover{
    color: var(--pink);
}

.about .row .content p{
    font-size: 15px;
    color:#7a7a7a;
    padding-top: 10;
    line-height: 1.5;
}







#footer{
    width: 100%;
    height: auto;
    background-color: #c5bebf; 
    float: left;
   
}
.footer_sub_1{
    width: 25%;
    float: left;
    color: #fff;
    margin-right: 40px;
 
}
.footer_sub_1 p{
    color: black;
    padding-right: 25px;
}
.footer_sub_1 a{
    color: white;
}
.footer_sub_1 a:hover{
    color: #1aaa1a;
}
.footer_sub_2{
   width: 20%;
   float: left;
   color: #fff;
   padding-left: 200px;
}
.footer_sub_2 ul li{
    list-style: none;
    margin-bottom: 20px;
}
.footer_sub_2 a{
    text-decoration: none;
    color: black;
    ;
}
.footer_sub_2 a:hover{
    color: #1aaa1a;
    text-decoration: underline;
    
}
.footer_sub_3{
    width: 25%;
    float: left;
    color: white;
    padding-left: 120px;
}
.subs{
    width: 250px;
    border: none;
    height: 50px;
    float: left;
    padding-left: 15px;

}
.submit_btn{
    height: 50px;
    width: 90px;
    border: none;
    background: black;
    float: left;
    color: white;
    
    
}
 
.sub_p{
    color: grey;
    font-style: italic;
    float: left;
}

#footer hr{
    background-color: #b5b5b5;
    margin: 230px 70px 20px 70px;
    height: 1px;
    border-radius: 2cm;
}
    
   
.copyright{
    text-align: center;
    margin-bottom: 30px;
   
}