
/* the header starts */

body{
    background-color: white;
   
    
}
.theme{
    background-color: #fdf2e0 ;
 }

.navbar{
    display: flex;
    align-items: right;
    margin-bottom: -12px;
}


.navbar .logo img{
padding: 0;
margin: 0;
display: flex;
margin-left: -40px;
margin-top: -26px;
width: 60%;
}

.search-container {
    margin-bottom: 10px;
   margin-top: 4px;
  margin-left: -35px;
}
  
input[type=text] {
    padding: 6px;
    margin-top: 8px;
    border: 1px solid #a7a7a7;
    border-radius: 5px 0px 0px 5px;
    width:260px;
    height: 40px ;
}
  
.search-container button {
    float: right;
    width: 40px;
    margin-top: 8px;
    margin-right: 16px;
    background: #a7a7a7;
    font-size: 17px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}


.search-container button:hover {
 background: #ccc;
}


.navbar a:hover{
color: #1aaa1a;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    margin-top: 23px;
    margin-right: -50px;
}

nav ul li {
   display: inline-block;
   margin-right: 20px;
}

a{
text-decoration: none;
color: black;
font-size: 16px;       
}
  
.categories a:hover{
color: #1aaa1a;
}

   
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.header{
   background: #e5e5e5;
}

.categories{
    height: 50px;
	background:black;
	display: flex;
	align-items: center;
	font-family: 'Lato', sans-serif;
	position: relative ;
	width: 100%;
}

.categories ul{
    height: 50px;
	display: flex;
	align-items: center;
	grid-gap: 5px;
	font-family: 'Lato', sans-serif;
	position: relative ;
	width: 100%; 

}

.categories ul li {
display: inline-block;
align-items: center;
margin-left: 20px;
padding-bottom: 18px;
margin-top: 13px;
margin-right: 20px;
}

.categories ul li a{
 color: #f9f9f9;
 align-items: center;

}


/* the header ends */

.cards-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
  /* flex-wrap: wrap;*/
    background-color: white;
}
.card{
    margin: 30px auto;
    padding: 35px;
    width: 300px;
    height: 350px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px 10px rgba(253, 6, 220, 0.25),-5px -5px 10px 10px rgba(7, 159, 241, 0.22);
    transition: 0.5s;
    
}
.card-image{
    width: inherit;
    height: inherit;}


.card-image img{
   
   border-radius: 60px;
    object-fit: cover;
}
.div{
    grid-template-columns: 25% 25% 25% 25%;
    display: grid;
}
.card_title{
    text-align: center;
    font-family: sans-serif;
    margin-top: 100px;
}
.card:hover{
    transform: scale(0.9,0.9);

}
.video{
    position: absolute;
}

.video video{width: 100%;

}

.h{
    margin-top: 230px;
}
.cards-list a{
    text-decoration: none;
    color: black;
    
    
}
.checked {
    color: orange;
  }
/*.container2{
    position: relative;

}


table{
    width: 500px;
    margin-top: 300px;
    margin-bottom: -200px;
}

th{
    text-align: center;
    color: #ce0b94;
    background-color: rgb(17, 18, 19);
    font-style: italic;
    font-size: large;
    border-collapse:separate;
}
tr{
    text-align: center;
}
table,th,td{
    border:1px hidden #f41cb3;
    padding-left: 225px;
    padding-bottom: 10px;
}
td{
    color: rgb(239, 92, 192);
    background-color:rgb(255, 255, 255);
    font-style: oblique;
   
}*/

th, td {
    border-style:solid;
    border-color: #e592bc;
  }

  th{
      font-size: 30px;
  }

  td{
      font-size: 25px;
      text-align: center;
  }

  .mytable{
      margin-top: 290px;
      margin-bottom: 800px;
      margin-left: 250px;
    height: 40px;
  }




  tr{
      height: 100px;
  }
#footer{
    width: 100%;
    height: auto;
    background-color: #c5bebf; 
    float: left;
   
}
.footer_sub_1{
    width: 25%;
    float: left;
    color: #fff;
    margin-right: 40px;
 
}
.footer_sub_1 p{
    color: black;
    padding-right: 25px;
}
.footer_sub_1 a{
    color: white;
}
.footer_sub_1 a:hover{
    color: #1aaa1a;
}
.footer_sub_2{
   width: 20%;
   float: left;
   color: #fff;
   padding-left: 200px;
}
.footer_sub_2 ul li{
    list-style: none;
    margin-bottom: 20px;
}
.footer_sub_2 a{
    text-decoration: none;
    color: black;
    ;
}
.footer_sub_2 a:hover{
    color: #1aaa1a;
    text-decoration: underline;
    
}
.footer_sub_3{
    width: 25%;
    float: left;
    color: white;
    padding-left: 120px;
}
.subs{
    width: 250px;
    border: none;
    height: 50px;
    float: left;
    padding-left: 15px;

}
.submit_btn{
    height: 50px;
    width: 90px;
    border: none;
    background: black;
    float: right;
    color: white;
    margin-left: 99999900px;
    margin-top: -50px;

}
 
.sub_p{
    color: grey;
    font-style: italic;
    float: left;
   
}

#footer hr{
    background-color: #b5b5b5;
    margin: 230px 70px 20px 70px;
    height: 1px;
    border-radius: 2cm;
}
    
   
.copyright{
    text-align: center;
    margin-bottom: 30px;
   
}
