body {
    background-color: #F0F5D1;
    margin:0;
    
}

.navbar {
    display: flex;
    align-items: right;
    margin-bottom: -12px;
    
}

    .navbar .logo img {
        padding: 0;
        margin: 0;
        display: flex;
        margin-left: -40px;
        margin-top: -26px;
        width: 60%;
    }

.search-container {
    margin-bottom: 10px;
    margin-top: 4px;
    margin-left: -35px;
    
 
}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    border: 1px solid #a7a7a7;
    border-radius: 5px 0px 0px 5px;
    width: 260px;
    height: 26px;
}

.search-container button {
    float: right;
    width: 40px;
    margin-top: 8px;
    margin-right: 16px;
    background: #a7a7a7;
    font-size: 17px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}


    .search-container button:hover {
        background: #ccc;
    }


.navbar a:hover {
    color: #1aaa1a;
}

nav {
    flex: 1;
    text-align: right;
}

    nav ul {
        display: inline-block;
        list-style-type: none;
        margin-top: 40px;
        margin-right: -40px;
    }

        nav ul li {
            display: inline-block;
            margin-right: 20px;
        }

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.categories a:hover {
    color: #1aaa1a;
}


.container {
    max-width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.header {
    background: #e5e5e5;
}

.categories {
    height: 50px;
    background: black;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    position: relative;
    width: 100%;
}

    .categories ul {
        height: 50px;
        display: flex;
        align-items: center;
        grid-gap: 5px;
        font-family: 'Lato', sans-serif;
        position: relative;
        width: 100%;
    }

        .categories ul li {
            display: inline-block;
            align-items: center;
            margin-left: 20px;
            padding-bottom: 18px;
            margin-top: 13px;
            margin-right: 20px;
        }

            .categories ul li a {
                color: #f9f9f9;
                align-items: center;
            }


/* the header ends */
#footer {
    width: 100%;
    height: auto;
    background-color: #c5bebf;
    float: left;
}

.footer_sub_1 {
    width: 25%;
    float: left;
    color: #fff;
    margin-right: 40px;
}

    .footer_sub_1 p {
        color: black;
        padding-right: 25px;
    }

    .footer_sub_1 a {
        color: white;
    }

        .footer_sub_1 a:hover {
            color: #1aaa1a;
        }

.footer_sub_2 {
    width: 20%;
    float: left;
    color: #fff;
    padding-left: 200px;
}

    .footer_sub_2 ul li {
        list-style: none;
        margin-bottom: 20px;
    }

    .footer_sub_2 a {
        text-decoration: none;
        color: black;
    }

        .footer_sub_2 a:hover {
            color: #1aaa1a;
            text-decoration: underline;
        }

.footer_sub_3 {
    width: 25%;
    float: left;
    color: white;
    padding-left: 120px;
}

.subs {
    width: 250px;
    border: none;
    height: 50px;
    float: left;
    padding-left: 15px;
}

.submit_btn {
    height: 50px;
    width: 90px;
    border: none;
    background: black;
    float: left;
    color: white;
}

.sub_p {
    color: grey;
    font-style: italic;
    float: left;
}
/*F9F9F9      #F0F5D1*/
.main{margin-left:100px; }
.main h3{border:3px solid #007791 ; border-radius:20px;font-family:Arial;width:300px;height:25px;
text-align:center;text-shadow:2px 2px bisque ;}
.fa-cart-shopping{cursor:pointer; font-size:25px;color:#007791; }
.fa-heart {cursor:pointer; font-size:25px; color:#007791;}
#shopcontainer{ display:grid; font-family:Arial; grid-template-columns:20% 20% 20% 20%; grid-gap:20px; }
/*.productbox{margin-bottom:50px;}*/
.product:hover{transition:0.4s; opacity:0.6; background-color:darkslateblue; transform :scale(1.1);}
.producttitle:hover { transform: scale(1.2); }

.dining{ margin-top:1000px;position:absolute;} /**/
h3.dining{margin-top:1020px;}
.inlinetobe2{position:absolute; margin-top:-100px;}  /**/
.productbox{padding-bottom:140px;margin-left:40px;;margin-right:40px;margin-top:20px;}
.productbox2{margin-top:130px;padding-bottom:100px;margin:40px;}
.productbox3 {  margin-top: 100px;margin-bottom: 40px;margin-left:40px}
.sofas{ position:absolute;}
h3.sofas{position:absolute;margin-top:2250px;}
/*vi*/
.inlinetobe3{margin-top:2300px;position:absolute; }
/*vi*/
.iframe{margin-top:40px; float:right; margin-right:50px; width:500px;margin-left:15px; margin-bottom:50px;}
.mainiframe p {
    color: antiquewhite;
    font-family: Arial;
    margin-top: 50px;
    font-size: 18px;
}
.mainiframe h1{color:antiquewhite; margin-top:70px; margin-bottom:-25px; }
/*007791*/
.product {
    width: 280px;
    height: 200 px;

}
.mainiframe {
    background-image: url('../images/digital-art-hexagon-geometry-colorful-wallpaper-preview.jpg');
    background-repeat:repeat-x;
   
}
/*C4DCFF*/
/* the header starts */


      .navbar {
    display: flex;
    align-items: right;
    margin-bottom: -12px;
}

    .navbar .logo img {
        padding: 0;
        margin: 0;
        display: flex;
        margin-left: -40px;
        margin-top: -26px;
        width: 60%;
    }

.search-container {
    margin-bottom: 10px;
    margin-top: 4px;
    margin-left: -35px;
}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    border: 1px solid #a7a7a7;
    border-radius: 5px 0px 0px 5px;
    width: 260px;
    height: 40px;
}

.search-container button {
    float: right;
    width: 40px;
    margin-top: 8px;
    margin-right: 16px;
    background: #a7a7a7;
    font-size: 17px;
    height: 54px;
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}


    .search-container button:hover {
        background: #ccc;
    }


.navbar a:hover {
    color: #1aaa1a;
}

nav {
    flex: 1;
    text-align: right;
}

    nav ul {
        display: inline-block;
        list-style-type: none;
        margin-top: 23px;
        margin-right: 20px;
    }

        nav ul li {
            display: inline-block;
            margin-right: 20px;
        }

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.categories a:hover {
    color: #1aaa1a;
}


.container {
    max-width: 2000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.header {
    background: #e5e5e5;
    
}

.categories {
    height: 50px;
    background: black;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    position: relative;
    width: 100%;
}

    .categories ul {
        height: 50px;
        display: flex;
        align-items: center;
        grid-gap: 5px;
        font-family: 'Lato', sans-serif;
        position: relative;
        width: 100%;
    }

        .categories ul li {
            display: inline-block;
            align-items: center;
            margin-left: 20px;
            padding-bottom: 18px;
            margin-top: 13px;
            margin-right: 20px;
        }

            .categories ul li a {
                color: #f9f9f9;
                align-items: center;
            }


/* the header ends */
#footer {
    width: 100%;
    height: auto;
    background-color: #c5bebf;
    float: left;
}

.footer_sub_1 {
    width: 25%;
    float: left;
    color: #fff;
    margin-right: 40px;
}

    .footer_sub_1 p {
        color: black;
        padding-right: 25px;
    }

    .footer_sub_1 a {
        color: white;
    }

        .footer_sub_1 a:hover {
            color: #1aaa1a;
        }

.footer_sub_2 {
    width: 20%;
    float: left;
    color: #fff;
    padding-left: 200px;
}

    .footer_sub_2 ul li {
        list-style: none;
        margin-bottom: 20px;
    }

    .footer_sub_2 a {
        text-decoration: none;
        color: black;
    }

        .footer_sub_2 a:hover {
            color: #1aaa1a;
            text-decoration: underline;
        }

.footer_sub_3 {
    width: 25%;
    float: left;
    color: white;
    padding-left: 120px;
}

.subs {
    width: 250px;
    border: none;
    height: 50px;
    float: left;
    padding-left: 15px;
}

.submit_btn {
    height: 50px;
    width: 90px;
    border: none;
    background: black;
    float: left;
    color: white;
}

.sub_p {
    color: grey;
    font-style: italic;
    float: left;
}

#footer hr {
    background-color: #b5b5b5;
    margin: 230px 70px 20px 70px;
    height: 1px;
    border-radius: 2cm;
}


.copyright {
    text-align: center;
    margin-bottom: 30px;
}
/*new*/
#headercart{
    color:black;
    font-size:15px;
}


.dark-mode {
    background-color: #795548;
    color: white;
  
}
.theme2 {
    float: right;
    margin-right: 40px;
    margin-top: -120px;
    font-size: 22px;
}
#headercart{
    color:black;
    font-size:15px;
}

/*endofnews*/
