/* the header starts */

.navbar {
    display: flex;
    align-items: right;
    margin-bottom: -12px;
}

    .navbar .logo img {
        padding: 0;
        margin: 0;
        display: flex;
        margin-left: -40px;
        margin-top: -26px;
        width: 60%;
    }

.search-container {
    margin-bottom: 10px;
    margin-top: 4px;
    margin-left: -35px;
}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    border: 1px solid #a7a7a7;
    border-radius: 5px 0px 0px 5px;
    width: 260px;
    height: 40px;
}

.search-container button {
    float: right;
    width: 40px;
    margin-top: 8px;
    margin-right: 16px;
    background: #a7a7a7;
    font-size: 17px;
    height: 54px;
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}


    .search-container button:hover {
        background: #ccc;
    }


.navbar a:hover {
    color: #1aaa1a;
}

nav {
    flex: 1;
    text-align: right;
}

    nav ul {
        display: inline-block;
        list-style-type: none;
        margin-top: 23px;
        margin-right: -50px;
    }

        nav ul li {
            display: inline-block;
            margin-right: 20px;
        }

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.categories a:hover {
    color: #1aaa1a;
}


.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.header {
    background: #e5e5e5;
}

.categories {
    height: 50px;
    background: black;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    position: relative;
    width: 100%;
}

    .categories ul {
        height: 50px;
        display: flex;
        align-items: center;
        grid-gap: 5px;
        font-family: 'Lato', sans-serif;
        position: relative;
        width: 100%;
    }

        .categories ul li {
            display: inline-block;
            align-items: center;
            margin-left: 20px;
            padding-bottom: 18px;
            margin-top: 13px;
            margin-right: 20px;
        }

            .categories ul li a {
                color: #f9f9f9;
                align-items: center;
            }


/* the header ends */
.photos table,th,td  {

border :1px solid #cce7d0;
border-radius:50px;
}

.photos2
{border-collapse:collapse;
margin-right:50px;
 float:right;
  margin-top:-10px;

  
}
.g1{width:230px;height:190px; 

}

.e {margin-top:50px; font-family:Arial;font-size:21px;}
table th :hover {background-color:#507386;}
.g2{width:240px; height:210px}
table th :nth-child(even) :hover {background-color:#507386;}  
.g3{ width:220px; height:205px;}

.main{margin-left:70px;  }
.shop-content{display:grid ;grid-template-columns:30% 30% 30%        }
.product{width:320px;   height:225px;}
.stars{ margin-top:-20px;}
.cart{ border-radius :5px; background-color:#FFD700; border-color:#cce7d0; }
.button :hover {opacity:0.8 ;cursor:pointer;margin-top:2px;}
h5{margin-top:8px;}
.product-box1 {width:25%; min-width:350px;padding:10px 12px;border: 2px solid #cce7d0; border-radius:20px;}
.product{border-radius:20px;}
.shop-content{margin-top:50px;}
.d{margin-top:-15px;}
.productc{width:200px;}
.productd{width:230px;height:300px}
.shop-content{margin-left:80px;}
.product-box1{margin-bottom:50px;}
.photos2{color:red;}
.L2022{
display:flex;
list-style-type:none;
justify-content:center ;
    margin-top:150px;
    

}

.L2022 a:active{
color:red;
}

.L2022 a:hover{
color:#bed892;
text-decoration:underline;

}

.L2022 a:visited{
color:blue;
background-color:transparent;
text-decoration:underline;



}
.L2022 a:link{
color:purple;
background-color:transparent;
text-decoration:none;

}
.hello{margin-left:30px;}
.hel{margin-left:10px;}
.qu{text-align:center ; font-family:Arial ; font-size:20px; color:purple; margon-top:140px;}



ul{justify-content: space-between;}
.q1{color:bisque;}
.Links2 {
    background-image: url('../images/abstract-graphic-design-vector-triangle-wallpaper-thumb.jpg');
}

/*new*/

.dark-mode {
    background-color: bisque;
    color: #507386;
}
.theme2
{
    float:right;
    margin-right:25px;
    margin-top:-130px;
    font-size:22px;
}
.photos2{
    background-color:white;
}

/*end of news*/




#footer{
    width: 100%;
    height: auto;
    background-color: #c5bebf; 
    float: left;
   
}
.footer_sub_1{
    width: 25%;
    float: left;
    color: #fff;
    margin-right: 40px;
 
}
.footer_sub_1 p{
    color: black;
    padding-right: 25px;
}
.footer_sub_1 a{
    color: white;
}
.footer_sub_1 a:hover{
    color: #1aaa1a;
}
.footer_sub_2{
   width: 20%;
   float: left;
   color: #fff;
   padding-left: 200px;
}
.footer_sub_2 ul li{
    list-style: none;
    margin-bottom: 20px;
}
.footer_sub_2 a{
    text-decoration: none;
    color: black;
    
}
.footer_sub_2 a:hover{
    color: #1aaa1a;
    text-decoration: underline;
    
}
.footer_sub_3{
    width: 25%;
    float: left;
    color: white;
    padding-left: 120px;
}
.subs{
    width: 250px;
    border: none;
    height: 50px;
    float: left;
    padding-left: 15px;

}
.submit_btn{
    height: 50px;
    width: 90px;
    border: none;
    background: black;
    float: left;
    color: white;
    
    
}
 
.sub_p{
    color: grey;
    font-style: italic;
    float: left;
}

#footer hr{
    background-color: #b5b5b5;
    margin: 230px 70px 20px 70px;
    height: 1px;
    border-radius: 2cm;
}
    
   
.copyright{
    text-align: center;
    margin-bottom: 30px;
   
}





















